.carousel{
    padding: 81px 0;
    &__inner{
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .slick-slide {
        img {
            display: block;
            width: 550px;
            margin: 0 auto;
        }
    }
    .slick-dots{
        width: 150px;
        //padding: 0;
        //margin: 0;
        display: flex;
        margin: 0 auto;
        margin-top: 15px;
        justify-content: space-between;
        align-items: center;
        li{
            font-size: 32px;
            &:hover{
                color: $main-color;
            }
        }
    }

    .slick-next, .slick-prev{
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        img{
            width: 31px;
            height: 50px;
        }
    }
    .slick-next{
        right: 0px;
        left: auto;
    }
}
#slick-slide-control00, #slick-slide-control01, #slick-slide-control02{
    display: none;
}